body{
    color: #000;
   
    
}
   

.header{
    text-align: center;
  
   
}
.nav-bar{
    padding: 32px 0px;
    
}



.item{
    display: inline;
    margin: 0 20px ;
    font-family: Inter;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    
}
.item > a {
    text-decoration: none;
    color: black;
}
.content{

    background-color: #00BDC9;
    padding: 92px 400px;
}

.conteiner{
    padding-top: 88px;
    width: 856px;
    margin: 0 auto;

    

}
.title{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    
}
.description{
    
    padding: 40px;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    
}
.subtitle{
    margin: 60px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.icon-button{
    padding: 10px;
   margin-left: 345px;
   margin-bottom: 88px;
}
.button{
    padding: 10px 24px;
    background-color: #04959E;


}
.text-button{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
   
}

.line{
    background-color: #161616;
    height: 1px;
    
}
.footer-text{
    padding: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}





  


   

